HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.vs/
.terraform/
packages
Lambda-Framesnap-Video-Processor/.vs/
Lambda-Framesnap-Video-Processor/packages/
Lambda-Framesnap-Video-Processor/bin/
Lambda-Framesnap-Video-Processor/obj/
Lambda-Framesnap-Video-Processor/publish/
Lambda-Framesnap-Video-Processor/Properties/
Lambda-Framesnap-Video-Processor\Lambda-FrameSnap-Processor.Tests/.vs/
Lambda-Framesnap-Video-Processor\Lambda-FrameSnap-Processor.Tests/packages/
Lambda-Framesnap-Video-Processor\Lambda-FrameSnap-Processor.Tests/bin/
Lambda-Framesnap-Video-Processor\Lambda-FrameSnap-Processor.Tests/obj/
Lambda-Framesnap-Video-Processor\Lambda-FrameSnap-Processor.Tests/publish/
Lambda-Framesnap-Video-Processor\Lambda-FrameSnap-Processor.Tests/Properties/

